@import url('https://fonts.googleapis.com/css2?family=Arima&family=Noto+Sans+Georgian:wght@200&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Noto Sans Georgian', Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
body div{
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}

header{
    background-color: #a7bdff;
    display:grid;
    grid-template-columns: 150px auto;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #dffbfe;
    color: #396E94;
}

#hero{
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-msg h1, #hero-msg{
    text-align: center;
} 
#hero-msg h4{
    color: white;
}
.home-title{
    color: white;
    font-family: 'Arima', 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;
}
#hero-img{
    width: 100%;
}
#hero-box img{
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h4{
    text-align: center;
    color: #396E94;
}

h2{
    margin: 0;
}

main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}

.book, .join{
    background-color: skyblue;
    color: #396E94;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #0f329b;
    color: #396E94;
}

.card-img{
    border: 10px solid #0f329b;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #757a65;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.river-cards {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.rapids-cards{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.camping-cards {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

.msg{
    background-color: skyblue;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #757a65;
}
.msg h2{
    color: #396E94;
    font-family: 'Arima', 'Trebuchet MS', 'Lucida Sans Unicode';
}
.msg p{
    color: #396E94;
    font-size: .8em;
    padding-bottom: 15px;
}


#background{
    height: 725px;
    background-color: #90e0ef;
    margin-bottom: 50px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #757a65;
}


footer{
    background-color: skyblue;
    color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #396E94;
    text-decoration: none;
}
footer a:hover{
    background-color: #0f329b;
    color: #396E94;
}
footer h3{
    color: #396E94;
}
footer p{
    font-size: 1.2em;
}
footer .social img{
    padding-top: 15px;
}
footer p a:hover{
    text-decoration: underline;
}

 /*CSS for FAQ Page */

 .faq-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
 }
 .faq-answer1{
    text-align: left;
    max-width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
 }
 .faq-answer2{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    max-width: 90%;
 }
 .faq-answer3{
    text-align: left;
    max-width: 90%;
    grid-column: 3/4;
    grid-row: 1/2;
 }
 .faq-answer4{
    text-align: left;
    max-width: 90%;
    grid-column: 1/2;
    grid-row: 3/4;
 }
 .faq-answer5{
    text-align: left;
    max-width: 90%;
    grid-row: 3/4;
    grid-column: 2/3;
 }
 .faq-answer6{
    text-align: left;
    max-width: 90%;
    grid-row: 3/4;
    grid-column: 3/4;
 }
 .faq-answer1, .faq-answer2, .faq-answer3{
    padding-top: 100px;
 }
 .searchbox{
    text-align: center;
    width: 100%;
    background-color:  #a7bdff;
    border-radius: 20px;
 }
 .banner{
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
 }
.faq-title{
    text-align: center;
    color: #396E94;
    font-family: 'Arima', 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 2em;
    margin-top: 10px;
}
/* Contact Us Page */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title{
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}